<!DOCTYPE html>
<html>
<head>
    <title>Сумма чисел</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
    <h1>Add new car owner:</h1>
    <form method="post" action="" role="form" class="form-inline">
        <div class="form-group">
            <label for="name">Name</label><input id="name" class="form-control" type="text" name="name" value="{{ name }}"/>
        </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Submit"/>
    </form>
    </body>
</html>
